
<div id="app"></div>
<script src="{%- include 'app-script-base-url' -%}/pages/{{page.handle}}/index.js"></script>

<div id="footer"></div>
<script src="{%- include 'app-script-base-url' -%}/pages/footer/index.js"></script>